# Editor
.vscode/
.DS_Store

# Python
__pycache__/
.venv/
.python-version
lightning_logs/
.pytest_cache/
.benchmarks/

# Jupyter
.ipynb_checkpoints/

# PyPi Upload
dist/
*.egg-info

# Node
node_modules/

# Docs
docs/**/generated/
build/
